
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
/* body {
    background-color: wheat;
    
    
} */


h1 {
    font-weight: 900;
    
}

h2 {
    font-weight: 700;
}


.container {
    padding: 40px

    }

    .carousel-container {
        padding: 15px;
    }

    .quote-container p {
        font-size: clamp(23px, 4vw, 26px );
        font-weight: 700;
    }

    .quote-container q {
        font-size: 105%;
    }

    .grid-container {
        background-color: rgb(183, 232, 183);
    }

    .grid-container h2 {
        color: white;
    }

    .profile-pic{
        border-radius: 50%;
    }
    .biography{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .quote-style{
        font-family: cursive;
    }

    mark {
        background-color: rgba(106, 103, 103, 0.663);
        padding: 10px
        
    }

    .video-container p, h2{
        text-align: center;
    }